@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* BACKGROUND IMAGE */
.bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
  background-size:cover;
  background-position:center;
  filter:blur(4px);
  z-index:-1;
}

/* LOGIN CARD */
.login-box{
  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(12px);
  padding:35px;
  width:350px;
  border-radius:20px;
  box-shadow:0 15px 35px rgba(0,0,0,0.6);
  color:white;
  text-align:center;
  animation:fade 1s ease;
}

.login-box h2{
  margin-bottom:5px;
  font-size:26px;
}

.login-box p{
  font-size:14px;
  margin-bottom:20px;
}

.login-box input,
.login-box select{
  width:100%;
  padding:12px;
  margin-top:12px;
  border-radius:8px;
  border:none;
  outline:none;
}

.login-box button{
  width:100%;
  margin-top:18px;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#ff6f00;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.login-box button:hover{
  background:#e65100;
  transform:scale(1.05);
}

@keyframes fade{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}
